.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 100px;
}

.list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-item {
  margin: 30px;
  font-family: "Orbitron";
  font-size: 20px;
  font-weight: 500;
}

.list-item:hover {
  font-size: 30px;
  font-weight: 600px;
  text-decoration: underline;
}

.button-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  margin: 20px;
}
.nav-button {
  background-color: #fff;
  color: black;
  font-size: 20px;
  padding: 8px 40px;
  border-radius: 20px;
  font-family: 'Poppins';
  border: 3px solid  black;
}

.hero-container {
  display: flex;
}

.globe + div > img {
  position: absolute;
  left: 100px;
  width: 400px;
  height: 500px;
}
.square {
  position: relative;
  left: 150px;
  top: 150px;
}

.globe {
  position: relative;
  left: 375px;
}

.star {
  position: absolute;
  right: 100px;
  top: 200px;
}
.hero-container-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 10px;
  margin: 100px;
}

.hero-heading {
  font-family: "Orbitron";
  font-size: 50px;
  margin: 50px;
}
.hero-description {
  font-family: "poppins";
  padding: 0 100px;
  margin-top: 0;
  margin-bottom: 50px;
  text-align: center;
}

.button-email {
  font-family: "Orbitron";
  font-size: 20px;
  background-color: #fff;
  border: 3px solid  black;
  padding: 5px 25px;
  border-radius: 10px;
  font-weight: 500;
  margin: 20px 10px;
}

.button-join {
  background-color: black;
  border: none;
  color: #fff;
  font-family: "Orbitron";
  font-size: 20px;
  padding: 5px 25px;
  border-radius: 10px;
  font-weight: 500;
}

.contact-heading {
  text-align: center;
  font-family: "poppins";
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 10px;
}

.icons > span {
  margin: 0 10px;
}